.bot {
    bottom: 0;
    position: absolute; 
    font-size: 0.8rem;
    color: gray;
}
.err { 
    color: red;
}
.unknown  { 
    color: darkred;
}
.off {
    color: gray;
}

.header {
    font-size: xx-large;
}
.total-pw { 
    font-size: x-large;
}
.peak-pw { 
    font-size: larger;
}
.total-pw { 
    font-size: x-large;
}

.container { 
    width: 75%;
}

body {
    background: url(solar.svg) no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}