<!DOCTYPE html>
<html>
<head>
  <title>Solar &#9728</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="/lib/angular/angular.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="main.js"></script>
  <link href="style.css" rel="stylesheet"></script>

</head>
<body ng-app="solar" ng-controller="solarCtrl as ctrl" ng-cloak>
  <div class="container">
    <p><span class="header" ng-class="ctrl.firstLineClass"> {{ctrl.firstLine}} </span> 
       <a ng-click="ctrl.drawDays(1)" href="#">andamento oggi</a>
       &nbsp;
       <a ng-click="ctrl.drawDays(4)" href="#">andamento 4 giorni</a>
       &nbsp;
       <button ng-click="ctrl.goGarden()">Giardino</button>
    </p>
    <p class="total-pw" ng-show="ctrl.pvData.totalDayWh"> Energia oggi: <b>{{ctrl.pvData.totalDayWh / 1000}} kWh</b> </p>
    <p class="peak-pw" ng-show="ctrl.pvData.peakW"> Picco di <b>{{ctrl.pvData.peakW}}W</b> alle {{ctrl.pvData.peakTs}} </p>
    <br/>
    <br/>
    <br/>
    <p class="total-pw" ng-show="ctrl.pvData.totalKwh"> Energia totale: <b>{{ctrl.pvData.totalKwh}} kWh</b> </p>

    <div id="chart"></div>

    <p class="bot" ng-show="ctrl.pvData.currentTsTime"> 
      Aggiornato alle {{ctrl.pvData.currentTsTime}} del {{ctrl.pvData.currentTsDate}}. 
    </p>
  </div>
</body>
</html>
